pcdb.driver=com.mysql.jdbc.Driver
pcdb.url=jdbc:mysql://%MYSQLHOST%/proconsul
pcdb.user=%MYSQLUSER%
pcdb.password=%MYSQLPASS%
pcadminlist=%PCADMINLIST%
#posixadmins=
#loginadmins=
#targetsystemadmins=
