#!/bin/bash

ADUSER="%DOCKERGENUSER%" ADPASS='%DOCKERGENPW%' ADDOMAIN='%ADDOMAIN%' ADBASE='%TARGETOU%' /opt/docker-gen/docker-gen -config /opt/docker-gen/proconsul.cfg -endpoint tcp://127.0.0.1:2375 > /tmp/docker-gen.output 2>&1 &
