<h3>You may review and/or update:</h3>

  <p><a href="/admin/access_control">Proconsul Access Rules</a><br>
    <i><font size=-1>Configure who (based on usernames, group memberships, and/or entitlements) can access Proconsul, and which of those users can use Proconsul for Domain Admin access</font></i>
  </p>
  
  <p><a href="/admin/host_mgt">Proconsul Target Systems</a>
    <br><i><font size=-1>Configure mappings from users to hosts, as well as the set of hosts domain admins can access via Proconsul</font></i>
  </p>
  
  <p><a href="/admin/windows_users">Proconsul/AD Group Configuration</a>
    <br><i><font size=-1>Configure AD group memberships dynamic users will have in Windows sessions based on the properties of their owners</font></i>
  </p>

  <p><a href="/admin/host_and_gateway_details">Target Provisioning</a>
    <br><i><font size=-1>Configure RDP gateway requirements, AD group membership requirements for accessing specific  hosts or collections of hosts</font></i>
</p>

