<h1>You may review and/or update:</h1>

<table>
  <tr>
    <td style="width: 50%; padding-right: 30px">

      <div class="admin-section">
        <a href="/admin/access_control">Proconsul Access Rules</a>
        <div class="subheader">
          Configure who (based on usernames, group memberships, and/or entitlements) can access Proconsul, and  which of those users can use Proconsul for Domain Admin access
        </div>
      </div>
      
      <div class="admin-section">
        <a href="/admin/host_mgt">Proconsul Target Systems</a>
        <div class="subheader">
          Configure mappings from users to hosts, as well as the set of hosts domain admins can access via Proconsul
        </div>
      </div>
    </td><td>

      <div class="admin-section">
        <a href="/admin/windows_users">Proconsul/AD Group Configuration</a>
        <div class="subheader">
          Configure AD group memberships dynamic users will have in Windows sessions based on the properties of their owners
        </div>
      </div>
      
      <div class="admin-section">
        <a href="/admin/host_and_gateway_details">Target Provisioning</a>
        <div class="subheader">
          Configure RDP gateway requirements, AD group membership requirements for accessing specific  hosts or collections of hosts
        </div>
      </div>
    </td>
  </tr> <tr>
    <td>
    	<div class="admin-section">
    		<a href="/admin/posix_users">Proconsul POSIX User configuration</a>
    		<div class="subheader">
    			Configure POSIX attributes to pass for users acessing Linux machines via Proconsul
    		</div>
    	</div>
    </td>
    <td> </td>
  </tr>
</table>
