<div id="host_map">
  <h1>Proconsul AD Group Management</h1>

  <div class="subheading">Proconsul will assign AD group memberships to dynamic users based on actual user properties as follows:</div>
  
  <div style="width: 250px">
    <button name="additem" class="additem action" id="additem">Add AD Group Mapping</button>
  </div>
  
  <form name="accessform" id="accessform" method="POST" action="#">
    <input type="hidden" id="aformsubmitted" name="aformsubmitted" value="1"/>
      <table class="displaytable">
        #set($pct=0)
        #foreach( $heppn in $usergroups )
          <tr>
            <td class="property">UserName (eduPersonPrincipalName)</td>
            <td class="property"><input type="text" id="uname$pct" name="uname$pct" value="$heppn.getEppn()"/></td>
            #set($slen=$heppn.getGroupdn().length())
    	      <td>Will be a member of</td>
    		    <td class="value">
    		      <input type="hidden" id="delugrp$pct" name="delugrp$pct" value="0"/>
    		      <input type="hidden" id="chgugrp$pct" name="chgugrp$pct" value="0"/>
    		      <input type="hidden" id="ugrp$pct" name="ugrp$pct" value="$heppn.getGroupdn()" size="$slen"/>
              <span class="populated-value">$heppn.getGroupdn()</span>
    		    </td>
            <td>
              <button id="rug$pct" name="rug$pct" class="rugclass action">remove</button>
            </td>
          </tr>
          #set($pct=$pct+1)
        #end
        
        #set($pct=0)
        #foreach( $hgdn in $groupgroups )
          <tr>
            #set($llen=$hgdn.getGroupurn().length())
            <td class="property">Group URN (isMemberOf)</td>
            <td class="property">
              <input type="text" name="gname$pct" id="gname$pct" value="$hgdn.getGroupurn()" size="$llen"/>
            </td>
  	        #set($slen=$hgdn.getGroupdn().length())
  	        <td>Will be a member of</td>
  	        <td class="value">
  	          <input type="hidden" id="delggrp$pct" name="delggrp$pct" value="0"/>
  	          <input type="hidden" id="chgggrp$pct" name="chgggrp$pct" value="0"/>
  	          <input type="hidden" id="ggrp$pct" name="ggrp$pct" value="$hgdn.getGroupdn()" size="$slen"/>
              <span class="populated-value">$hgdn.getGroupdn()</span>
  	        </td>
            <td>
              <button id="rgg$pct" name="rgg$pct" class="rggclass action">remove</button>
            </td>
          </tr>
          #set($pct=$pct+1)
        #end
        
        #set($pct=0)
        #foreach( $hedn in $entitlementgroups )
          <tr>
            #set($llen=$hedn.getEntitlement().length())
            <td class="property">Entitlement (eduPersonEntitlement)</td>
            <td class="property">
              <input type="text" name="ename$pct" id="ename$pct" value="$hedn.getEntitlement()" size="$llen" />
            </td>
            #set($slen=$hedg.getGroupdn().length())
            <td>Will be a member of</td>
            <td class="value">
              <input type="hidden" id="delegrp$pct" name="delegrp$pct" value="0"/>
              <input type="hidden" id="chgegrp$pct" name="chgegrp$pct" value="0"/>
              <input type="hidden" id="egrp$pct" name="egrp$pct" value="$hedn.getGroupdn()" size="$slen" />
              <span class="populated-value">$hedn.getGroupdn()</span>
            </td>
            <td>
              <button id="reg$pct" name="reg$pct" class="regclass action">remove</button>
            </td>
          </tr>
          #set($pct=$pct+1)
        #end

        #set($pct=0)
      </table>
    </form>
</div>


<div id="addmapdiv" name="addmapdiv" title="Add a Proconsul Group Mapping">
	<form name="aform" id="aform" method="POST" action="#">
		<input type="hidden" name="addformsubmitted" id="addformsubmitted" value="1"/>
		<table>
			<tr>
				<td><select id="lhsselector" name="lhsselector"><option value='eppn'>Username</option><option value='group'>Group Membership</option><option value='entitlement'>Entitlement</option></select>
        </td>
				<td><input type="text" name="lhs" id="lhs" value="value"/></td>
			</tr>
			<tr>
				<td><input type="text" name="rhs" id="rhs" value="AD Group DN"/></td>
			</tr>
			<tr>
				<td span=4><button name='submit' value='submit' id='aformsubmit'>Submit</button></td>
			</tr>
		</table>
	</form>
</div>


<script type="text/javascript">
 $( document ).ready(function() {
 	$("#addmapdiv").hide();
 	$("#additem").click(function(e) {
 		e.preventDefault();
 		$("#addmapdiv").dialog({modal: true, width: 600});
 	});
 	rug = $("#accessform").find(".rugclass");
 	rug.each(function(button) {
 		var num = rug[button].name.replace("rug","");
 		$(rug[button]).click(function(e) {
 			e.preventDefault();
 			if (document.getElementById("delugrp"+num)) {
 				$("#delugrp"+num).val('1');
 				alert("Removing " +$("#ugrp"+num).val());
 				$("#accessform").submit();
 			} 
 		});
 	});
 	rgg = $("#accessform").find(".rggclass");
 	rgg.each(function(button) {
 		var num = rgg[button].name.replace("rgg","");
 		$(rgg[button]).click(function(e) {
 			e.preventDefault();
 			if (document.getElementById("delggrp"+num)) {
 				$("#delggrp"+num).val('1');
 				alert("Removing " + $("#ggrp"+num).val());
 				$("#accessform").submit();
 			}
 		});
 	});
 	reg = $("#accessform").find(".regclass");
 	reg.each(function(button) {
 		var num=reg[button].name.replace("reg","");
 		$(reg[button]).click(function(e) {
 			e.preventDefault();
 			if (document.getElementById("delegrp"+num)) {
 				$("#delegrp"+num).val('1');
 				alert("Removing " + $("#egrp"+num).val());
 				$("#accessform").submit();
 			}
 		});
 	});
 	
 });
 
 </script>
 
