<html>
  <head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="resources/css/proconsuladmin.css">
    <link rel="stylesheet" href="resources/css/admin.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Proconsul Admin</title>
  </head>

  <body>
    <div id="header">
      <h1><a href="/admin">Proconsul Admin</a></h1>
    </div>
    <div id="main">
      $screen_content
    </div>
  </body>
</html>