#branding {
    height: 110px;
    background: #001a57 url("/proconsul/resources/bg-header.jpg") no-repeat 0 0;
    margin-bottom: 5px;
    color: #5b5b5b;
    overflow: hidden;
}
#logop {
    outline: none;
    width: 138px;
    height: 64px;
    float: left;
    margin: 20px 15px 20px 20px;
    padding-right: 15px;
    border-right: 1px
    solid #ffffff;
}
a.white:link{color:#c0fbc0; font-weight: bold; text-decoration: none;}
a.white:visited{color:#fbc0fb; font-weight: bold; text-decoration: none;}
#appname {
    position: relative;
    font-family: sans-serif;
    padding-top: 25px; 
    padding-left: 5px;
    float: left;
    max-width: 320px;
    height: 65px;
    word-wrap: normal;  
}
.tdhead {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.tdcell {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    border: 1px solid black;
}
.fullWidthTable {
    width: 100%;
    border: 1px solid black;
}
.actionButton {
    background: #c3e1f3;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.centerButton {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
